@{
    ViewBag.Title = "SQLElearner Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                SQLE
                <small>learner</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <img src="~/Images/index_banner.jpg" class="img-responsive">
        </div>
    </div>
    <!-- /.row -->
    <!-- Service Paragraphs -->
    <div class="row">
        <div class="col-md-8">
            <h2 class="page-header">Learn SQL with simple, interactive exercises.</h2>
            <p>Welcome to SQLElearner, a series of interactive lessons and exercises designed to help you quickly learn SQL right in your browser.</p>
        </div>
        <div class="col-md-4">
            <h2 class="page-header">Get Started...</h2>
            <p>Click on the START button below to start your free online course!</p>
            @Html.ActionLink("START", "Index", "Courses" , null,new { @class = "btn btn-default" })
            @*<a href="~/Views/Course/Course.cshtml" class="btn btn-primary">START</a>*@
        </div>
    </div>
    <!-- /.row -->
    <!-- Service Tabs -->
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">Course Information</h2>
            <ul class="nav nav-tabs" id="myTab">
                <li class="active">
                    <a data-toggle="tab" href="#Beginner">Beginner</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#Intermediate">Intermediate</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#Advanced">Advanced</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#Expert">Expert</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div id="Beginner" class="tab-pane fade in active">
                    <i class="fa fa-gear pull-left fa-4x"></i>
                    <p></p>
                    <p>Lesson: Manipulation</p>
                    <p>Get up and running with SQL by learning commands to manipulate data stored in relational databases.</p>
                    <p>Quiz: Manipulation</p>
                    <p>Project: Create Table</p>
                </div>
                <div id="Intermediate" class="tab-pane fade">
                    <i class="fa fa-gears pull-left fa-4x"></i>
                    <p></p>
                    <p>Lesson: Queries</p>
                    <p>Learn the most commonly used SQL commands to query a table in a database.</p>
                    <p>Quiz: Queries</p>
                    <p>Project: Writing Queries</p>
                </div>
                <div id="Advanced" class="tab-pane fade">
                    <i class="fa fa-magic pull-left fa-4x"></i>
                    <p></p>
                    <p>Lesson: Aggregate Functions</p>
                    <p>Learn how to use SQL to perform calculations during a query.</p>
                    <p>Quiz: Aggregate Functions</p>
                    <p>Project: Practice Aggregate Functions</p>
                </div>
                <div id="Expert" class="tab-pane fade">
                    <i class="fa fa-magic pull-left fa-4x"></i>
                    <p></p>
                    <p>Lesson: Multiple Tables</p>
                    <p>Learn how to query multiple tables using joins.</p>
                    <p>Quiz: Multiple Tables</p>
                    <p>Project: Practice Querying Multiple Tables</p>
                </div>
            </div>
        </div>
    </div>
</div>